a {
  color: black;
}
/*---------phones----------*/
@media only screen
  and (min-device-width: 300px)
  and (max-device-width: 1199px) {
  body {
    margin: 0px;
    padding: 0px;
    height: 100vh;
    width: 100vw;
  }

  .container-1 {
    margin: 0px;
    padding: 0px;
    position: relative;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 0.05fr 0.9fr 0.05fr;
    justify-items: center;

  }
  
  footer {
    grid-area: 3 / 1/ 4/ 4;
    justify-items: center;
    position: absolute;
    left: 43vw;
  }

  .container-2 {
    margin: 0px;
    padding: 0px;
    height: fit-content;
    width: 80vw;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 0.05fr 0.05fr 0.8fr;
    justify-items: center;
    background-color: aliceblue;
    grid-area: 2/2/3/3;
    border-color: black;
    border-style: solid;
    border-width: thin;
  }

  header { 
    grid-area: 1/1/2/4

    }

  .blog-title { 
    align-self: center;
    font-size:larger;
  }

  .subtitle {
    align-self: center;
    text-align: center;

  }

  date {
    align-self: center;

  }

  article {
    align-self: start;
    width: 75vw;
    height:fit-content;
    padding:1vh 1vw 5vh 1vw;
  }

  }

/*---------------full size devices-----------*/
@media screen
  and (min-device-width:1200px) {
    body {
      margin: 0px;
      padding: 0px;
      height: 100vh;
      width: 100vw;
    }

    .container-1 {
      position: relative;
      margin: 0px;
      padding: 0px;
      display: grid;
      grid-template-columns: 10% 80% 10%;
      grid-template-rows: 0.05fr 0.9fr 0.05fr;
      justify-items: center;

    }
    .container-2 {
      margin: 0px;
      padding: 0px;
      height: fit-content;
      overflow: scroll;
      min-height: 90vh;
      width: 80vw;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 0.1fr 0.05fr 0.05fr 0.8fr;
      justify-items: center;
      background-color: aliceblue;
      grid-area: 2/2/3/3;
      border-color: black;
      border-style: solid;
      border-width: thin;
    }

    header { 
      grid-area: 1/1/2/4

      }

    .blog-title { 
      align-self: center;
      font-size:larger;
    }

    .subtitle {
      align-self: center;
      text-align: center;

    }

    date {
      align-self: center;

    }

    article {
      align-self: start;
      width: 75vw;
      height:fit-content;
      padding:1vh 1vw 5vh 1vw;
    }
    
    footer {
      grid-area: 3/1/4/4;
      position:absolute;
      left: 46vw;
    
    }

  }